{% extends 'sho/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5">
    <div class="card mt-5">
      <div class="card-body login-form-div">
        <h5 class="text-center mb-4">Login</h5>
        {% if form.errors %}
          <div class="alert alert-danger">Invalid username or password.</div>
        {% endif %}
        <form method="post" autocomplete="off">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <br>
          <p>New user? Register here - <a href="{% url 'register' %}">Signup</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
